li.form-group {
  border: 1px solid black;
  width: 300px;
  margin: 10px;
}

li.form-group > p {
  font-weight: bold;
  margin-left: 20px;
}

li.form-group li {
  list-style-type: none;
  margin-left: -20px;
}

ul.group .field {
  border: 1px dotted gray;
  padding: 3px;
  margin: 2px;
  width: 90%;
}

ul.group .field[readonly] {
  background: lightgray;
}

.hidden {
  display: none;
}
