<p class={{if this.args.field._hidden 'hidden'}}>
  <label>{{this.args.field.name}}</label>
  <Input type="text" @value={{this.args.field.value}} class="field" readonly={{this.args.field.disabled}}/>
</p>