<li id={{this.args.group.id}} class="form-group">
  <p>{{this.args.group.name}}</p>
  {{yield to='group-header'}}
  <ul class="group">
    {{#each this.args.group.fields as |field index|}}
      <li>
        <FormField @field={{field}}></FormField>
      </li>
    {{/each}}
  </ul>
</li>