{{log orderForm}}
<FormRoot @groups={{this.groups}} @orderForm={{orderForm}}>
  <:form-flare>
    <label><input type="checkbox" {{on "change" this.changed}}/>I am attending</label>
  </:form-flare>
  <:group-header>
    <label>Collapse/Expand</label>
  </:group-header>
</FormRoot>